
@{
    ViewBag.Title = "About2";
}

<h2>About2</h2>

<table class="table-bordered">
    <tr>
        <th class="col-md-1">
            編號:#
        </th>
        <th class="col-md-1">
            種類
        </th>
        <th class="col-md-1">
            日期
        </th>
        <th class="col-md-1">
            金額
        </th>
        <th class="col-md-6">
            備註
        </th>
        <th class="col-md-2">
        </th>
    </tr>

    <tr>
        <td>1</td>
        <td>支出</td>
        <td>2016-04-25</td>
        <td>100</td>
        <td>支出100元支出100元支出100元支出100元支出100元支出100元支出100元支出100元支出100元支出100元支出100元支出100元支出100元支出100元支出100元</td>
        <td>
            <a href="/Bill/Edit/c12269a4-eeab-4d34-a585-c9f622d73535">編輯</a>
            <a href="/Bill/Delete/c12269a4-eeab-4d34-a585-c9f622d73535">刪除</a>
        </td>
    </tr>

    <tr>
        <td>2</td>
        <td>收入</td>
        <td>2016-04-25</td>
        <td>200</td>
        <td>收入200元</td>
        <td>
            <a href="/Bill/Edit/c12269a4-eeab-4d34-a585-c9f622d73535">編輯</a>
            <a href="/Bill/Delete/c12269a4-eeab-4d34-a585-c9f622d73535">刪除</a>
        </td>
    </tr>

</table>
